.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }

  #imageLogin {
    object-fit: cover; 
    object-position: left;
  }
  
  form {
    width: 23rem
  }

  .fw-normal{
    letter-spacing: 1px;
  }
  
  @media (min-width: 1025px) {
    .h-custom-2 {
      height: 100%;
    }
  }